<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GoOrder.net - easy order list in your company!</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/customizations.css" rel="stylesheet">
    <link href="application/edit-address.css" rel="stylesheet">
  </head>
  <body ng-app="goorder">
    <div class="container" ng-controller="OrderGroupsController">
      <div class="row">
        <div class="hero-unit thin">
          <h1>GoOrder.net - easy order list!</h1>
          <p>What do <strong>we</strong> order today?</p>
        </div>
      </div>
      <div class="ng-cloak">
        <div class="row">
          <form class="form-inline">
            Share with friends in hunger:
            <div class="input-append">
              <input class="span4" id="url" value="http://goorder.com/5f77tuxl" type="text">
              <button class="btn" type="button">copy</button>
            </div>
          </form>
        </div>
        <div class="row">
          <ul class="nav nav-tabs">
            <li ng-repeat="g in groups" ng-class="{active:isActive(g)}">
              <a href="#">{{g.name}}</a>
            </li>
            <li><a href="#">+</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="span6" id="edit-address">
            <address ng-controller="AddressEditController" go-edit-address>
              <div class="render"></div>
              <textarea rows="5" class="span6" ng-model="address">
                Ordering place
                http://
                phone:
                menu: http://
              </textarea>
            </address>
          </div>
          <div class="span6">
            <div>
              Order at: <strong>12:30</strong>
            </div>
            <div class="progress progress-striped active">
              <div class="bar" style="width: 75%;"><p>3min 45sec left</p></div>
            </div>
            <textarea class="span6" placeholder="extra info"></textarea>
          </div>
        </div>
        <div class="well row">
          <div class="form-inline">
            <div class="input-prepend">
              <span class="add-on">1.</span>
              <input type="text" class="input-medium" placeholder="Who?" value="Witek">
            </div>
            <input type="text" class="input-xxlarge" placeholder="What?" value="Kurak">  
            <div class="input-append">
              <input type="text" class="input-small money" placeholder="Price?" value="12,90">  
              <span class="add-on"><i class="icon-check" title="paid?"></i></span>
            </div>
          </div>
          <div class="form-inline">
            <div class="input-prepend">
              <span class="add-on">2.</span>
              <input type="text" class="input-medium" placeholder="Who?" value="&#321;ukasz">  
            </div>
            <input type="text" class="input-xxlarge" placeholder="What?" value="Makaron">  
            <div class="input-append">
              <input type="text" class="input-small money" placeholder="Price?" value="10,50">
              <span class="add-on"><i class="icon-check" title="paid?"></i></span>
            </div>
          </div>
          <div class="form-inline">
            <div class="input-prepend">
              <span class="add-on">3.</span>
              <input type="text" class="input-medium" placeholder="Who?" value="Zbyszko">  
            </div>
            <input type="text" class="input-xxlarge" placeholder="What?" value="Makaron">  
            <div class="input-append">
              <input type="text" class="input-small money" placeholder="Price?" value="10,50">  
              <span class="add-on"><i class="" title="paid?"></i></span>
            </div>
          </div>
          <div class="form-inline">
            <div class="input-prepend">
              <span class="add-on">4.</span>
              <input type="text" class="input-medium" placeholder="Who?" value="Krzysiek">  
            </div>
            <input type="text" class="input-xxlarge" placeholder="What?" value="Rodzynki">
            <div class="input-append">
              <input type="text" class="input-small money" placeholder="Price?" value="5,60">  
              <span class="add-on"><i class="" title="paid?"></i></span>
            </div>
          </div>
          <div class="form-inline">
            <div class="input-prepend">
              <span class="add-on">5.</span>
              <input type="text" class="input-medium" placeholder="Who?" value="Anna">  
            </div>
            <input type="text" class="input-xxlarge" placeholder="What?" value="Jablko"> 
            <div class="input-append">
              <input type="text" class="input-small money" placeholder="Price?" value="0,60">  
              <span class="add-on"><i class="" title="paid?"></i></span>
            </div>
          </div>
          <div class="form-inline">
            <div class="input-prepend">
              <span class="add-on">#.</span>
              <input type="text" class="input-medium" placeholder="Who?">  
            </div>
            <input type="text" class="input-xxlarge" placeholder="What?">  
            <input type="text" class="input-small money" placeholder="Price?">  
          </div>
        </div>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-sanitize.js"></script>
    <script src="application/main.js"></script>
    <script src="application/order-groups.js"></script>
    <script src="application/edit-address.js"></script>
  </body>
</html>